Web/Connected Services/PurchaseOrderServiceReference/PurchaseOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PurchaseOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/PurchaseOrderService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/PurchaseOrderService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/PurchaseOrderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseOrderService_GetPurchaseOrderHeadersDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderHeadersDTO" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_GetPurchaseOrderHeadersDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderHeadersDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_GetCountOfPurchaseOrderHeaderDTOs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfPurchaseOrderHeaderDTOs" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_GetCountOfPurchaseOrderHeaderDTOs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfPurchaseOrderHeaderDTOsResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_GetPurchaseOrderDetailDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_GetPurchaseOrderDetailDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderDetailDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_Ship_InputMessage">
    <wsdl:part name="parameters" element="tns:Ship" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_Ship_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShipResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_Close_InputMessage">
    <wsdl:part name="parameters" element="tns:Close" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrderService_Close_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseOrderService">
    <wsdl:operation name="GetPurchaseOrderHeadersDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrderService/GetPurchaseOrderHeadersDTO" message="tns:IPurchaseOrderService_GetPurchaseOrderHeadersDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrderService/GetPurchaseOrderHeadersDTOResponse" message="tns:IPurchaseOrderService_GetPurchaseOrderHeadersDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountOfPurchaseOrderHeaderDTOs">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrderService/GetCountOfPurchaseOrderHeaderDTOs" message="tns:IPurchaseOrderService_GetCountOfPurchaseOrderHeaderDTOs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrderService/GetCountOfPurchaseOrderHeaderDTOsResponse" message="tns:IPurchaseOrderService_GetCountOfPurchaseOrderHeaderDTOs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrderDetailDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrderService/GetPurchaseOrderDetailDTO" message="tns:IPurchaseOrderService_GetPurchaseOrderDetailDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrderService/GetPurchaseOrderDetailDTOResponse" message="tns:IPurchaseOrderService_GetPurchaseOrderDetailDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrderService/Create" message="tns:IPurchaseOrderService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrderService/CreateResponse" message="tns:IPurchaseOrderService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ship">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrderService/Ship" message="tns:IPurchaseOrderService_Ship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrderService/ShipResponse" message="tns:IPurchaseOrderService_Ship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Close">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrderService/Close" message="tns:IPurchaseOrderService_Close_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrderService/CloseResponse" message="tns:IPurchaseOrderService_Close_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchaseOrderService" type="tns:IPurchaseOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchaseOrderHeadersDTO">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrderService/GetPurchaseOrderHeadersDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountOfPurchaseOrderHeaderDTOs">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrderService/GetCountOfPurchaseOrderHeaderDTOs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrderDetailDTO">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrderService/GetPurchaseOrderDetailDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrderService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ship">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrderService/Ship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Close">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrderService/Close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseOrderService">
    <wsdl:port name="BasicHttpBinding_IPurchaseOrderService" binding="tns:BasicHttpBinding_IPurchaseOrderService">
      <soap:address location="http://localhost:8735/PurchaseOrderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>