Web/Connected Services/PurchaseOrderServiceReference/PurchaseOrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PurchaseOrderFilterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderFilterDTO" nillable="true" type="tns:PurchaseOrderFilterDTO" />
  <xs:complexType name="ArrayOfPurchaseOrdersHeaderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrdersHeaderDTO" nillable="true" type="tns:PurchaseOrdersHeaderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrdersHeaderDTO" nillable="true" type="tns:ArrayOfPurchaseOrdersHeaderDTO" />
  <xs:complexType name="PurchaseOrdersHeaderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PurchaseOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShipMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipMethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrdersHeaderDTO" nillable="true" type="tns:PurchaseOrdersHeaderDTO" />
  <xs:complexType name="PurchaseOrderDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PurchaseDetailRowDTOs" nillable="true" type="tns:ArrayOfPurchaseOrderDetailRowDTO" />
      <xs:element minOccurs="0" name="PurchaseOrdersDTO" nillable="true" type="tns:PurchaseOrdersHeaderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderDetailDTO" nillable="true" type="tns:PurchaseOrderDetailDTO" />
  <xs:complexType name="ArrayOfPurchaseOrderDetailRowDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderDetailRowDTO" nillable="true" type="tns:PurchaseOrderDetailRowDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrderDetailRowDTO" nillable="true" type="tns:ArrayOfPurchaseOrderDetailRowDTO" />
  <xs:complexType name="PurchaseOrderDetailRowDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderQty" type="xs:short" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaseOrderDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaseOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ReceivedQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="RejectedQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockedQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderDetailRowDTO" nillable="true" type="tns:PurchaseOrderDetailRowDTO" />
</xs:schema>