Front/Connected Services/CartServiceReference/CartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CartService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/CartService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/CartService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/CartService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICartService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_AddCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCartItem" />
  </wsdl:message>
  <wsdl:message name="ICartService_AddCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_ChangeCartItemQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCartItemQuantity" />
  </wsdl:message>
  <wsdl:message name="ICartService_ChangeCartItemQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCartItemQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartService">
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/GetCart" message="tns:ICartService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/GetCartResponse" message="tns:ICartService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/Delete" message="tns:ICartService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/DeleteResponse" message="tns:ICartService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/AddCartItem" message="tns:ICartService_AddCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/AddCartItemResponse" message="tns:ICartService_AddCartItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCartItemQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/ChangeCartItemQuantity" message="tns:ICartService_ChangeCartItemQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/ChangeCartItemQuantityResponse" message="tns:ICartService_ChangeCartItemQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICartService" type="tns:ICartService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/ICartService/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICartService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCartItem">
      <soap:operation soapAction="http://tempuri.org/ICartService/AddCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCartItemQuantity">
      <soap:operation soapAction="http://tempuri.org/ICartService/ChangeCartItemQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartService">
    <wsdl:port name="BasicHttpBinding_ICartService" binding="tns:BasicHttpBinding_ICartService">
      <soap:address location="http://localhost:8732/CartService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>