Web/Connected Services/ProductServiceReference/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ProductService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfShortProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortProductDTO" nillable="true" type="tns:ShortProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortProductDTO" nillable="true" type="tns:ArrayOfShortProductDTO" />
  <xs:complexType name="ShortProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="StandardCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubcategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbNailPhotoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortProductDTO" nillable="true" type="tns:ShortProductDTO" />
  <xs:complexType name="DetailProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LargePhotosIDs" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="StandardCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubcategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailProductDTO" nillable="true" type="tns:DetailProductDTO" />
</xs:schema>