Web/Connected Services/ProductServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ProductService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ProductService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ProductService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts" />
      <xsd:import schemaLocation="http://localhost:8733/ProductService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetShortProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetShortProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetDetailProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetDetailProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsCount" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetPhotoThumbnail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoThumbnail" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetPhotoThumbnail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetLargePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLargePhoto" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetLargePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLargePhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetShortProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetShortProducts" message="tns:IProductService_GetShortProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetShortProductsResponse" message="tns:IProductService_GetShortProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetDetailProduct" message="tns:IProductService_GetDetailProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetDetailProductResponse" message="tns:IProductService_GetDetailProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductsCount" message="tns:IProductService_GetProductsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsCountResponse" message="tns:IProductService_GetProductsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhotoThumbnail">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetPhotoThumbnail" message="tns:IProductService_GetPhotoThumbnail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetPhotoThumbnailResponse" message="tns:IProductService_GetPhotoThumbnail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLargePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetLargePhoto" message="tns:IProductService_GetLargePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetLargePhotoResponse" message="tns:IProductService_GetLargePhoto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShortProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetShortProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetDetailProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsCount">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhotoThumbnail">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetPhotoThumbnail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLargePhoto">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetLargePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:8733/ProductService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>