Web/Connected Services/UserServiceReference/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/UserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts" />
  <xs:import schemaLocation="http://localhost:8734/UserService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="userDto" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="CreateResult" nillable="true" type="q2:OperationDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataContracts" minOccurs="0" name="userDto" nillable="true" type="q3:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Security.Claims" minOccurs="0" name="AuthenticateResult" nillable="true" type="q4:ClaimsIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>